In [65]:
from datetime import datetime
from Utils import *
import pandas as pd
import json
from pandas.io.json import json_normalize

In [93]:
def get_kline(symbol, period, size=100):
    """
    :param symbol
    :param period: 可选值：{1min, 5min, 15min, 30min, 60min, 1day, 1mon, 1week, 1year }
    :param size: 可选值： [1,2000]
    :return:
    """
    params = {'symbol': symbol,
              'period': period,
              'size': size}

    url = MARKET_URL + '/market/history/kline'
    return http_get_request(url, params)

In [98]:
content = get_kline('btcusdt', '1day', size=50)

In [99]:
data = content['data']
df = pd.DataFrame.from_records(data)
df['id'] = df['id'].apply(lambda x:datetime.fromtimestamp(x).strftime('%Y-%m-%d %H:%M:%S'))

In [100]:
df.head()

,amount,close,count,high,id,low,open,vol
0,7057.006652,7981.10,48696,8460.00,2018-02-09 00:00:00,7738.61,8257.83,5.689766e+07
1,17443.217943,8241.33,145186,8650.00,2018-02-08 00:00:00,7568.00,8164.03,1.419914e+08
2,28420.621058,8165.59,216587,8525.00,2018-02-07 00:00:00,6805.00,7276.21,2.191236e+08
3,46288.223520,7274.99,328523,7516.77,2018-02-06 00:00:00,6051.19,7425.37,3.108578e+08
4,23669.353058,7425.42,200970,8580.00,2018-02-05 00:00:00,7213.13,8422.99,1.880050e+08

In [101]:
import plotly.plotly as py
import plotly.graph_objs as go

import pandas_datareader as web
from datetime import datetime

# df = web.DataReader("aapl", 'yahoo')

trace = go.Candlestick(x=df['id'],
                       open=df['open'],
                       high=df['high'],
                       low=df['low'],
                       close=df['close'])
data = [trace]
py.iplot(data, filename='simple_candlestick')

In [70]:
# dir(datetime.datetime)